/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
  /* Add padding to containers */
  .container {
    padding: 200px;

  }

.Log {
  background-color: yellow;
  position: fixed;
  border: 1px solid blue;
  padding: 0px 10px 10px 10px;
}

#submit {
  margin: 10px;
}

h3 {
  border: 1px solid blue;
  text-align: center;

}