/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
  /* Add padding to containers */
  .container {
    align-items: center;
    justify-content: center;
    padding: 200px;
    display: flex;
  }

.Log {
  background-color: yellow;
  border: 1px solid blue;
  padding: 10px 20px 20px 20px;
}

#SignLog {
text-align: center;
font-size: larger;
}

#submit {
  margin: 10px;
}

h3 {
  border: 1px solid blue;

}

#login {
  overflow: hidden;
  position: relative;
}